

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

nav {
    margin: 5px;
    padding: 5px;
    text-align: center;
}